DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
DATABASE_URL_UNPOOLED=postgresql://user:password@host:5432/database?sslmode=require
PGHOST=host
PGPORT=5432
PGUSER=user
PGDATABASE=database
PGPASSWORD=password
